:root{
  --arrow-width: 0.1rem;
  --arrow-border: solid hsl(36, 87%, 55%) 0.2rem;
  --cell-radius-sharp: 3px;
  --bg-colour: hsl(180, 15%, 51%);
  --bracket-colour: hsl(180, 25%, 25%);
}

html {
  box-sizing: border-box;
  background-color: var(--bg-colour);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.cell-container{
  min-height: 2.5rem;
  display: flex;
  flex: 1 1 auto;
}

.cell{
  height: 2rem;
  width: 12rem;
  min-width: 10rem;
  border-radius: 0.2rem;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(21, 21, 49);
  background-color: beige;
}

.cell:hover{
  box-shadow: 3px 1px 5px black;
}

.cell-bye{
  filter: grayscale(40%);
  background-color: var(--bg-colour);
}

.cell-bye:hover{
  box-shadow: none;
}

.arrows-container{
  display: flex;
  flex-direction: column;
  width: 2rem;
}

.arrow-divide{
  width: 1rem;
  flex: 1;
  /* border-top: var(--arrow-border); */
}

.middle-divide{
  height: 1rem;
  display: flex;
}

.middle-filler-top{
  flex: 1 1 auto;
  border-bottom: var(--arrow-border);
}

.middle-filler-bottom{
  flex: 1 1 auto;
  border-top: var(--arrow-border);
}

.matchup{
  display: flex;
  flex: 1;
}

.bracket-input{
  background-color: aquamarine;
  padding: 5px;
  padding-left: 0;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}

.bracket{
  display: flex;
  background-color: var(--bracket-colour);
  padding-left: 0.5rem;
  padding-right: 0.5rem;

}

.round{
  display: flex;
  flex-direction: column;
}

.appContainer{
  padding: 0.5rem;
  min-width: 100%;
  width: fit-content;
}

