html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.cell-container{
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.cell{
  height: 3rem;
  width: 15rem;
  min-width: 10rem;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 3px;
}

.middle-divide{
  height: 1rem;
  display: flex;
  flex-direction: column;
}

.middle-filler-top{
  flex: 1 1 auto;
}

.middle-filler-bottom{
  flex: 1 1 auto;
  border-top: solid rgb(240, 160, 40) 2px;
}

.matchup{
  display: flex;
  flex-direction: column;
  width: min-content;
}

.bracket-input{
  background-color: aquamarine;
}

